.admin-edit-wrapper {
  max-width: 100%;

  .admin-edit-input,
  .admin-text-editor {
    margin-bottom: 25px;
  }

  .admin-edit-input {
    p {
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      border-radius: 4px;
      font-size: 18px;
      border: 1px solid #ccc;
    }
  }

  & > button {
    width: max-content;
    border: 1px solid;
    padding: 8px;
    border-radius: 4px;
    color: #6058ce;
    background-color: #fff;
    transition: 0.2s;

    &:hover {
      background-color: #6058ce;
      color: #fff;
    }

    span {
      margin-right: 10px;
    }
  }
}
